<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/assets/header_d.png" />
    <link rel="stylesheet" href="/dist/output.css" />

    <title>Dhaval Prajapati | Game Developer</title>
</head>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5D2XXGET71"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5D2XXGET71');
</script>

<body class="bg-gray-900">
  <header class="text-gray-400 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
            <img src="/assets/header_d.png" />
            <span class="ml-3 text-xl">DHVL5</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="https://github.com/dhvl5/" target="_blank" class="mr-5 hover:text-white">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/>
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/dhvl5/" target="_blank" class="mr-5 hover:text-white">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
                </svg>
            </a>
            <a href="https://twitter.com/dhvl05" target="_blank" class="mr-5 hover:text-white">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
                </svg>
            </a>
        </nav>
        <a href="https://nemesisbyte.com/" target="_blank" class="flex text-white border-l border-gray-700 transition-opacity opacity-100 hover:opacity-70">
            <img class="ml-4" src="/assets/header_nemesisByte_logo.png"/>
            <span class="ml-4 text-xl">nemesisByte</span>
        </a>
    </div>
  </header>

  <main class="flex flex-col theme-bg h-full w-full">
    <div class="h-screen w-full flex flex-col px-5 pb-12 items-center justify-center">
      <div class="flex flex-col items-start text-left mb-16 text-white">
          <h3 class="mb-8">HOWDY-DOODY!</h3>
          <h1 class="title-font text-5xl sm:text-6xl lg:text-7xl mb-8 font-medium text-white leading-none">I am
              <br class="hidden lg:inline-block">
              <p class="text-green-800">
                  Dhaval Prajapati.
              </p>
          </h1>
          <p class="mb-8 text-xl leading-relaxed">
              a passionate self-made game developer <br>who loves coding and making cool stuff with it.
          </p>
          <div class="flex justify-center">
              <a href="#contactme" class="inline-flex text-white bg-green-600 border-0 py-2 px-6 focus:outline-none hover:bg-green-700 rounded text-lg transform ease-in-out duration-200">Say 'hi'</a>
              <a href="/assets/Dhaval_Prajapati.pdf" target="_blank" class="inline-flex text-white border border-green-600 ml-2 py-2 px-6 focus:outline-none hover:bg-green-700 rounded text-lg transform ease-in-out duration-200">Download CV</a>
          </div>
      </div>
      <div class="w-full flex justify-center sticky top-[90vh]">
          <a href="#projects">
            <svg class="animate-bounce mt-4 ml-4 w-10 h-10 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
            </svg>
          </a>
      </div>
    </div>

    <div id="projects" class="container px-5 py-24 mx-auto">
      <section class="text-gray-400 body-font">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 pb-16 text-white flex justify-center">Projects</h1>
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
          <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-800 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500 text-white relative z-10 title-font font-medium text-sm">1</div>
          <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
            <div class="flex-shrink-0 w-24 h-24 bg-gray-800 text-green-400 rounded-full inline-flex items-center justify-center">
              <img src="/assets/bookland_logo.png" />
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-white mb-1 ml-3 text-xl">Bookland</h2>
              <p class="leading-relaxed ml-3">An android app where you can track all of your book readings.</p>
              <a href="https://github.com/dhvl5/Bookland" target="_blank" class="text-green-600 inline-flex items-center mt-4 ml-3">Learn More
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5l7 7-7 7"></path>
                </svg>
              </a>
              <div class="flex mt-2">
                <a href='https://play.google.com/store/apps/details?id=com.dhaval.bookland'><img height="150" width="150" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
                <a href='https://f-droid.org/en/packages/com.dhaval.bookland/'><img alt='Get it on F-Droid' src="https://fdroid.gitlab.io/artwork/badge/get-it-on.png" height="150" width="150"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
          <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
            <div class="h-full w-1 bg-gray-800 pointer-events-none"></div>
          </div>
          <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500 text-white relative z-10 title-font font-medium text-sm">2</div>
          <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
            <div class="flex-shrink-0 w-24 h-24 bg-gray-800 text-green-400 rounded-full inline-flex items-center justify-center">
              <img src="/assets/logo.png" />
            </div>
            <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
              <h2 class="font-medium title-font text-white mb-1 text-xl">dhvl5.com</h2>
              <p class="leading-relaxed">This website itself.</p>
              <a href="https://github.com/dhvl5/dhvl5.com" target="_blank" class="text-green-600 inline-flex items-center mt-4">Learn More
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
                </svg>
            </a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div id="skills" class="container px-5 py-24 mx-auto">
      <section class="text-white body-font">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 pb-16 text-white flex justify-center">Skills</h1>

        <ul class="flex flex-wrap justify-center gap-4">
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-code fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">C#</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-pencil-ruler fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">Java</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-chart-line fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">Kotlin</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-cog fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">Version Control (Git)</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-cog fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">JavaScript</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-cog fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">TypeScript</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-cog fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">HTML</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-cog fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">CSS</h3>
          </li>
        </ul>
      </section>
    </div>

    <div id="tools" class="container px-5 py-24 mx-auto">
      <section class="text-white body-font">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 pb-16 text-white flex justify-center">Tools</h1>

        <ul class="flex flex-wrap justify-center gap-4">
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-code fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">Unity Engine</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-pencil-ruler fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">Lens Studio</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-chart-line fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">Android Studio</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-cog fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">Spark AR Studio</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-cog fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">Visual Studio & VSCode</h3>
          </li>
          <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
            <i class="fas fa-cog fa-3x mb-4"></i>
            <h3 class="text-lg font-bold">8th Wall</h3>
          </li>
        </ul>
      </section>
    </div>

    <div id="frameworks" class="container px-5 py-24 mx-auto">
      <section class="text-white body-font">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 pb-16 text-white flex justify-center">SDKs/Frameworks</h1>
          
          <ul class="flex flex-wrap justify-center gap-4">
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">AR Foundation</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">ARCore</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">ARKit</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Vuforia</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-code fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Firebase</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-pencil-ruler fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Facebook</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-chart-line fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">OneSignal</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Google Play Services</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Vue.js</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Nuxt.js</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Ghost</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Tailwind CSS</h3>
            </li>
            <li class="bg-green-800 rounded-lg px-8 py-6 text-center text-white hover:bg-green-700 transition duration-300 ease-in-out transform hover:-translate-y-1">
              <i class="fas fa-cog fa-3x mb-4"></i>
              <h3 class="text-lg font-bold">Agora</h3>
            </li>
          </ul>
      </section>
    </div>

    <div id="experience" class="container px-5 py-24 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 pb-16 text-white flex justify-center">Experience</h1>
      <div class="my-8">
        <div class="py-8 flex flex-wrap md:flex-no-wrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="tracking-widest font-medium title-font text-white"> Senior Unity Developer</span>
            <span class="mt-1 text-gray-600 text-sm">JUNE 2020 - PRESENT</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-white title-font mb-2">The Intellify</h2>
            <p class="leading-relaxed text-white">- <b>I was promoted to a Senior position effective January 2023.</b><br>- Create games and augmented reality applications.<br>- Identify process and application bottlenecks and bugs.<br>- Design, build, and maintain efficient, reusable, and reliable code.<br>- Ensure the best performance, quality, and responsiveness of applications.</p>
            <a href="https://theintellify.com/" target="_blank" class="text-green-600 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-no-wrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="tracking-widest font-medium title-font text-white">Unity Developer</span>
            <span class="mt-1 text-gray-600 text-sm">APRIL 2018 - APRIL 2020</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-white title-font mb-2">CreArt Solutions</h2>
            <p class="leading-relaxed text-white">- Create games and augmented reality applications.<br>- Identify process and application bottlenecks and bugs.<br>- Teach game and android development.<br>- Create and distribute educational content (notes, summaries, assignments etc.)<br>- Develop and enrich professional skills and knowledge by attending seminars, conferences etc.</p>
            <a href="https://creart.in/" target="_blank" class="text-green-600 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-no-wrap">
          <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <span class="tracking-widest font-medium title-font text-white">Data Entry Clerk</span>
            <span class="mt-1 text-gray-600 text-sm">DECEMBER 2017 - MARCH 2018</span>
          </div>
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-white title-font mb-2">Anand Tradelink Pvt. Ltd.</h2>
            <p class="leading-relaxed text-white"> - Create bills, quotations based on orders and continuous communication with clients.</p>
            <a href="https://atpl.biz/" target="_blank" class="text-green-600 inline-flex items-center mt-4">Learn More
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div id="education" class="container px-5 py-24 mx-auto">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 pb-16 text-white flex justify-center">Education</h1>
      <div class="my-8">
        <div class="py-8 flex flex-wrap md:flex-no-wrap">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-white title-font mb-2">L.J. Institute of Computer Applications, Ahmedabad</h2>
            <p class="leading-relaxed text-white">
              - Bachelors in Computer Applications
            </p>
            <p class="leading-relaxed text-gray-600"> JULY 2015 - Dropped out in 2017</p>
          </div>
        </div>
        <div class="py-8 flex border-t-2 border-gray-800 flex-wrap md:flex-no-wrap">
          <div class="md:flex-grow">
            <h2 class="text-2xl font-medium text-white title-font mb-2">A-One High School, Ahmedabad</h2>
            <p class="leading-relaxed text-white">- Higher Secondary Certificate</p>
            <p class="leading-relaxed text-gray-600">  Passing year 2015</p>
            <p class="leading-relaxed text-white">- Secondary School Certificate</p>
            <p class="leading-relaxed text-gray-600">  Passing year 2013</p>
          </div>
        </div>
      </div>
    </div>

    <div id="contactme" class="container px-5 mb-24 mx-auto h-full">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Contact Me</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-500">Although I'm not looking for any new opportunities but my inbox is always open. If you have a question or just want to say hi, I'll try my best to get back to you!</p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2 justify-center">
          <div class="p-2 w-1/2">
            <input id="nameInput" v-model="form.name" class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-green-600 text-base px-4 py-2" placeholder="Name" type="text" name="name" required>
          </div>
          <div class="p-2 w-1/2">
            <input id="emailInput" v-model="form.email" class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-green-600 text-base px-4 py-2" placeholder="Email" type="email" name="email" pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required>
          </div>
          <div class="p-2 w-full">
            <textarea id="msgInput" v-model="form.msg" class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none h-48 focus:border-green-600 text-base px-4 py-2 resize-none block" placeholder="Message" name="message" required></textarea>
          </div>
          <div id="errorAlert" class="bg-red-100 hidden border border-red-400 text-red-700 p-2 w-full rounded relative" role="alert">
            <strong class="font-bold">Nah!</strong>
            <span class="sm:inline">All fields are required.</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-2">
              <svg onclick="hideError();" class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
          </div>
          <div id="emailAlert" class="bg-red-100 hidden border border-red-400 text-red-700 p-2 w-full rounded relative" role="alert">
            <strong class="font-bold">Oops!</strong>
            <span class="sm:inline">It seems that's not a correct mail id.</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-2">
              <svg onclick="hideEmail();" class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
          </div>
          <div id="successAlert" class="bg-green-100 hidden border border-green-400 text-green-700 p-2 w-full rounded relative" role="alert">
            <strong class="font-bold">Thanks!</strong>
            <span class="sm:inline">I'll get back to you ASAP.</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-2">
              <svg onclick="hideSuccess();" class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
          </div>
          <div class="mt-12 p-2 w-full">
            <button onclick="submitForm();" class="flex mx-auto text-white bg-green-600 border-0 py-2 px-8 focus:outline-none hover:bg-green-700 rounded text-lg transform ease-in-out duration-200">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="text-gray-400 body-font">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <img src="/assets/header_d.png" />
        <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 mt-4">&copy; 2021 Dhaval Prajapati</p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          Made with &nbsp;
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5 text-red-700" viewBox="0 0 24 24">
              <path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/>
          </svg>
          &nbsp; in India
        </span>
      </div>
    </footer>
</body>
</html>

<script>
    var mailMatch = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

    function submitForm() {
        if(document.getElementById('nameInput').value == '') { this.showError(); return; }
        if(document.getElementById('emailInput').value == '') { this.showError(); return; }
        if(document.getElementById('msgInput').value == '') { this.showError(); return; }
        if(!document.getElementById('emailInput').value.match(mailMatch))
        { this.showEmailError(); return; }
        
        let formData = new FormData();
        formData.append("name", document.getElementById('nameInput').value);
        formData.append("email", document.getElementById('emailInput').value);
        formData.append("message", document.getElementById('msgInput').value);

        fetch("https://formsubmit.co/ajax/1dc5ba99771cc1adddac27ed901cb0e7", { 
            body: formData,
            headers: { 
                'Accept': 'application/json'
            },
            method: "POST",
        })
        .then(response => response.status)
        .then(data => { if(data == 200) { this.showSuccess(); } });

        document.getElementById('nameInput').value = '';
        document.getElementById('emailInput').value = '';
        document.getElementById('msgInput').value = '';
        document.getElementById('errorAlert').style.display = "none";
        document.getElementById('emailAlert').style.display = "none";
    }
    function hideError() {
        document.getElementById('errorAlert').style.display = "none";
    }
    function showError() {
        document.getElementById('errorAlert').style.display = "block";
    }
    function showEmailError() {
        document.getElementById('emailAlert').style.display = "block";
    }
    function hideEmail() {
        document.getElementById('emailAlert').style.display = "none";
    }
    function hideSuccess() {
        document.getElementById('successAlert').style.display = "none";
    }
    function showSuccess() {
        document.getElementById('successAlert').style.display = "block";
    }
</script>

<style>
    dialog[open] {
      animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
    }
    dialog::backdrop {
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
    }
    .socials {
      margin-top: 45px;
    }
     
    @keyframes appear {
      from {
        opacity: 0;
        transform: translateX(-3rem);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .page-enter-active,
    .page-leave-active {
      transition: all 0.25s ease-out;
    }
    .page-enter,
    .page-leave-active {
      opacity: 0;
      transform-origin: 50% 50%;
    }
</style>